{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": [
        "*.svelte"
      ],
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": [
        "*.ts",
        "*.js"
      ],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": [
        "*.css"
      ],
      "options": {
        "parser": "css"
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false
}
