---
import ContentList from '../../components/ui/ContentList.astro';
import ListLayout from '../../layouts/ListLayout.astro';
import { getHolidayGroups } from '../../features/holidays/services/holidays';

const { upcoming: upcomingHolidays, past: pastHolidays } =
  await getHolidayGroups();
---

<ListLayout
  pageTitle="Reisen - Bridge mit Alexander"
  title="Reisen"
  intro="Entdecken Sie unsere geplanten Brückenreisen"
  maxWidth="max-w-4xl"
  isEmpty={upcomingHolidays.length === 0 && pastHolidays.length === 0}
>
  {
    upcomingHolidays.length > 0 && (
      <div>
        <div class="mb-10 text-center">
          <h2 class="mb-4 text-3xl md:text-4xl">Kommende Reisen</h2>
        </div>
        <ContentList items={upcomingHolidays} />
      </div>
    )
  }

  {
    pastHolidays.length > 0 && (
      <div class="mt-16">
        <div class="mb-10 text-center">
          <h2 class="mb-4 text-3xl md:text-4xl">Vergangene Reisen</h2>
        </div>
        <ContentList items={pastHolidays} />
      </div>
    )
  }
</ListLayout>
